body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    color: #333333;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #333333;
    margin: 10px 0;
    text-transform: uppercase;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-size: 13px;
	color:#333333;
    margin: 10px 0;
}

p b {
	font-weight: 600;
}

a {
    padding: 0;
    color: #A4B34B;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s linear 0s;
    display: inline-block;
	text-transform:uppercase;
	cursor: pointer;
}

a:hover {
	color: #333333;
}

nav {
    position: fixed;
    text-align: right;
    right: 10%;
    top: 0;
    padding: 67px 25px 25px;
    background-color: #fff;
    transition: all 0.3s linear 0s;
    box-shadow: 0 12px 25px -12px #C5C5C5;
}

ul {
    margin: 0;
    padding: 0;
}

ul.topnav li:not(:first-child) {
	display: none;
}

ul.topnav li.icon {
    display: inline-block;
    padding: 0;
}
  ul.topnav.responsive {
	  position: relative;
  }
  ul.topnav.responsive li.icon {
    position: relative;
	margin-bottom: 20px;
}

  ul.topnav.responsive li.icon a {
	  padding:0;
	  font-size: 21px;
  }
  
  ul.topnav.responsive li {
    display: block;
    padding: 0;
}

ul.topnav.responsive li a {
    display: block;
    text-align: right;
    padding: 5px 0;
    color: #333333;
    border: none;
	font-size: 12px;
}

ul.topnav.responsive li a:hover {
	color: #A4B34B;
}

#logeado {
	color: #E6540C;
	font-size: 11px;
}

#logeado:hover {
	color: #E1A88B;
}

#bars {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	transition: all 0.3s linear 0s;
	padding:0;
	border:none;
}

#bars:hover {
	color:#A4B34B;
}

.past-main {
    padding: 40px 30px 25px;
    right: 0;
    box-shadow: none;
	z-index:1;
}

#create_account, #login {
	display:inline-block;
}

#separador {
    width: 100%;
    border-bottom: 1px solid #CECECE;
    padding: 0;
    margin: 5px 0;
	display: block;
}

header {
    display: block;
    width: 80%;
    padding: 70px 10%;
}

.iso {
    position: fixed;
    transition: all 0.3s linear 0s;
    top: 50px;
    left: 10%;
}

.iso a img {
	display: block;
    width: 60px;
	transition: all 0.3s linear 0s;
}

#name {
	display: inline-block;
}

#name h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
	color: #333333;
	font-weight: 400;
}

#name h1 span {
	font-weight: 600;
}

.past-main2 {
    position: fixed;
    left: 35px;
    top: 30px;
}

.past-main2 a img{
	width: 43px;
}

article {
    display: table;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 80%;
    padding: 100px 10%;
}

article div {
	display:table-cell;
	vertical-align: middle;
}

.texto_institucional {
	text-align: center;
}

.top {
    height: 75vh;
    width: 100%;
	padding:0;
}

#top_index {
	background-image:url(../images/index/bg_principal.png);
	text-align: center;
    background-size: contain;
}

.special p {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
    color: #333333;
    margin: 10px 0 0;
}

.top div {
	display:table-cell;
	vertical-align: middle;
}

.special {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 0;
    width: 100%;
    display: block !important;
    margin: auto;
}

.special h1 {
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1;
}

.filtrado_rapido {
    padding: 0;
    width: 800px;
    display: block;
    position: relative;
    box-shadow: 0 35px 100px -30px #989898;
    margin: auto auto -70px;
}

.filtrado_rapido a {
	text-transform:none;
}

.filtrado_rapido form {
    display: table;
    background-color: #ffffff;
    text-align: left;
    width: 100%;
}

.selects div {
    width: 25%;
    padding: 25px 30px;
}

.destacado_gris {
 	font-size: 11px;
    color: #989898;
}

.destacado_gris span {
	color: #333333;
}

.filtrado_rapido p {
    font-family: 'GFS Didot', serif;
    font-weight: normal;
    font-size: 17px;
    display: inline-block;
    margin: 0;
    width: 90%;
}

.filtrado_rapido p span {
	font-size: 37px
}

.select_date {
    display: inline-block;
    width: 1%;
}

button {
	border:none;
	padding: 5px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s linear 0s;
	text-transform:uppercase;
	background-color:transparent;
}

#boton_salmon {
    color: #ffffff;
    background-color: #E1A88B;
    width: 100%;
    padding: 30% 0;
}

#boton_salmon:hover {
	background-color: #6B4C52;
}

#vertical_linea {
    width: 0;
    margin: 0;
    border-left: 1px solid #ECECEC;
    padding: 0;
}

.calendario_completo {
	display:block;
}

#nav_mes_año {
    display: table;
    background-color: #333;
    width: 100%;
    padding: 0;
}

#nav_mes_año div {
    padding: 15px 30px;
	display: table-cell;
}

#nav_mes_año div h2 {
	color: #ffffff;
}

#nav_mes_año div a {
	color: #ffffff;
}

#nav_mes_año div a:hover {
	color: #6B4C52;
}

#dias {
    background-color: #E1A88B;
    display: table;
    width: 100%;
}

#dias p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 14%;
    display: table-cell;
}

.calendario {
    display: table;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    background-color: #333;
	padding-top:25px;
}

.calendario td a {
    padding: 0 0 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear 0s;
    font-weight: 400;
    color: #ffffff;
    width: 100%;
}

.calendario td a:hover {
	color: #E1A88B;
	font-weight: 600;
}

.calendario #no {
	color: #666;
	cursor: default;
}

.calendario #no:hover {
	color: #666;
	font-weight: 400;
}

.select_huespedes {
	background-color: #333333;
    display: table;
    width: 100%;
}

.select_huespedes a {
    display: table-cell;
    width: 12.5%;
    text-align: center;
    padding: 25px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    margin: 0;
    transition: all 0.3s linear 0s;
	text-transform:inherit;
}

.select_huespedes a:hover {
	color: #E1A88B;
	font-weight: 400;
}

.paquetes {
    background-image: url(../images/index/bg_content.jpg);
    background-repeat: repeat;
    background-size: 80px;
	padding-top: 170px;
}

.listados {
	padding: 50px;
	width: 32%;
	transition: all 0.3s linear 0s;
	background-color: #ffffff;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: none;
}

.listados:hover {
	box-shadow: 0 25px 60px -25px #989898;
}

#top {
	vertical-align:top;
}

#paquete_servicio img {
	margin-bottom: 25px;
}

#bloque_previo {
	background-color: transparent;
	border-bottom: none;
}

#bloque_previo:hover {
	box-shadow:none;
}

.listados img {
	display: block;
	width: 100%;
}

.precios {
    border-bottom: 1px solid #CECECE;
    padding: 0;
    margin: 10px 0 20px;
    border-top: 1px solid #CECECE;
    display: block;
}

#separador_table_cell {
    width: 2%;
    border: none;
    padding: 0;
}

.botones {
    border: none;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #A4B34B;
    width: auto;
    display: inline-block;
}

.botones:hover {
	background-color: #BDC783;
	color: #ffffff;
}

#boton_into_text {
    margin-top: 15px;
    margin-right: 5px;
    background-color: #333333;
}

#promo_cuenta .botones:hover {
    background-color: #6B4C52;
}

#promo_cuenta {
    background-image: url(../images/index/bg_content_special.jpg);
    background-repeat: repeat;
    background-size: 80px;
}

#promo_cuenta .listados {
    vertical-align: text-top;
    padding: 0 50px;
    width: 33%;
}

#promo_cuenta i {
	color: #ffffff;
    font-size: 44px;
    margin-bottom: 10px;
}

#promo_cuenta h1, #promo_cuenta h2, #promo_cuenta p {
	color: #ffffff;
}

#boton_into_text:hover {
    background-color: #6B4C52;
}

#promo_cuenta .botones {
    background-color: #6B4C52;
	margin-top: 15px;
	margin-right: 5px;
}

.widget {
	text-align:center;
}

.widget div {
	display: inline-block;
	text-align: center;
	width: 800px;
}

.widget img {
	width: 120px;
}

.widget h1 {
	line-height:normal;
	margin-top: 25px;
	margin-bottom: 70px;
}

.widget p {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
}

#stars {
	margin-top: 25px;
	margin-bottom: 70px;
}

#stars i {
	color: #6B4C52;
}

.content_promo_products div {
    padding: 0 50px;
    width: 50%;
}

.content_promo_products div img {
	display:block;
	width: 100%;
	margin-bottom: 50px;
}

#right {
	text-align:right;
}

.content_paquete {
	display: block;
}

.content_paquete #boton_salmon {
	padding: 5px 10px;
	width: auto;
}

.pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: table;
    vertical-align: middle;
    background-color: rgba(146,215,198,0.95);
}

#content_center_pop {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

#content_center_pop .filtrado_rapido {
    box-shadow: none;
    margin: auto;
}

#servicios {
	padding-top: 100px;
}

footer {
    display: table;
    background-position: center;
    background-repeat: repeat;
    background-size: 80px;
    width: 80%;
    padding: 100px 10%;
	text-align:center;
    background-image: url(../images/index/bg_content.jpg);
}

#special_footer {
    padding: 0;
    display: block;
    width: auto;
    background-color: transparent;
    margin-top: 35px;
}

#special_footer h1 {
    font-size: 30px;
    color: #6B4C52;
}

#special_footer p {
	font-size: 15px;
	color: #6B4C52;
	margin-top: 7px;
}

.content_footer {
	display:inline-block;
	width: 600px;
}

#social {
    padding: 20px 0;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    margin: 70px 0;
}

#social a {
	margin:0 10px;
}

#social a img {
	width: 35px;
	display: block;
}

#no_mail {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#datos p {
    font-weight: 600;
}

.top_content {
    height: 75vh;
    width: 100%;
    padding: 0;
	text-align:center;
}

#top_grande {
	padding:100px 0;
}

.form {
    width: 450px;
    position: relative;
    display: block;
    margin: auto;
}

.form div {
    display: block;
}

.form h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

.form div input, .form div textarea {
    width: 90%;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #6E6E6E;
    text-align: center;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0 0 0 1px #B5B5B5;
    padding: 10px 5%;
}

.links_into_form {
	margin-top: 25px;
}

.links_into_form a {
    font-size: 11px;
    color: #E1A88B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
	margin:0 5px;
}

.links_into_form a:hover {
	color: #333333;
}

#select_div {
    display: table;
    width: 100%;
}

#select_div div {
    display: table-cell;
    padding: 0 10px;
}

#select_div div select {
    border: none;
    padding: 5px;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 13px;
    box-shadow: 0 0 0 1px #B5B5B5;
}

#checkbox_div {
    display: table;
    width: 100%;
	margin-bottom: 25px;
}

#checkbox_div div {
    display: table-cell;
    padding: 0 10px;
}

#checkbox_div div p {
	margin:0;
}

#item {
	font-weight: 600;	
}
 
#checkbox_div div p input {
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    margin: 0 5px 0 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.mensajes_post_form {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 80%;
    padding: 0 10%;
}

#separador_forms {
    width: 50px;
    display: inline-block;
}

#filtrado_reservas {
	margin: 100px auto;
}

.selects {
	padding: 0;
    display: block;
    width: 100%;
}

.select_product {
    display: table;
    width: 100%;
}

.select_product div {
    width: 50%;
    text-align: center;
    border-right: 1px solid #ffffff;
}

#apart {
	border:none;
}

.select_product div a {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    color: #ffffff;
    width: 90%;
    padding: 35px 5%;
    background-color: #E1A88B;
}

.select_product div a:hover {
	background-color: #6B4C52;
}

.aclaraciones_reserva {
    display: table;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ECECEC;
}

.aclaraciones_reserva div {
    padding: 25px 30px;
    width: 25%;
}

.aclaraciones_reserva div p {
    display: inline-block;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #333333;
}

.aclaraciones_reserva div p input {
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    margin: 0 5px 0 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#post_check {
	padding: 0 0 100px;
    display: block;
    width: 800px;
    margin: auto;
}

#post_check h1 {
	font-size:25px;
}

.table_opciones {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    border-top: none;
    border-left: none;
    margin-top: 35px;
}

.table_opciones tr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table_opciones th {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0;
    padding: 5px;
    display: table-cell;
    border-top: 1px #CECECE solid;
    border-left: 1px solid #CECECE;
    border-bottom: none;
    border-right: none;
}

.table_opciones td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0;
    padding: 5px;
    display: table-cell;
    border-top: 1px #CECECE solid;
    border-left: 1px solid #CECECE;
    border-bottom: none;
    border-right: none;
}

.table_opciones td p {
	margin:0;
}

.table_opciones td button {
    width: 100%;
}

.aclaraciones_reserva h2 {
	display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 25px 30px;
	font-size: 13px;
	text-align:left;
	width: 25%;
}

.aclaraciones_reserva h2 span {
	display:block;
    font-size: 11px;
    color: #989898;
}

#opcionales_reserva input {
    padding: 5px;
    margin: 0 0 0 5px;
    width: 24px;
    border: 1px solid #CECECE;
}

#no_check {
	width: 34%;
}

.boton_final_reserva {
	padding:0;
	display:block;
}

.boton_final_reserva #boton_salmon {
	padding: 25px 30px;
}

.pop #post_check {
    padding: 50px;
    width: 700px;
    background-color: #fff;
}

.pop #post_check p {
	display:block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #333333;
    margin: 10px 0;
}

.content_historial {
	padding: 100px 10%;
    width: 700px;
    display: block;
    margin: auto;
}

#content_title_page {
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px 0;
    width: 100%;
}

#habitaciones {
	background-image:url(../images/habitaciones/principal_room.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#aparts {
	background-image:url(../images/aparts/principal_apart.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#header_servicios {
    background-image:url(../images/servicios/principal_servicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header_paquetes {
    background-image:url(../images/paquetes/principal_paquetes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.products {
    background-image: url(../images/index/bg_content.jpg);
    background-repeat: repeat;
    background-size: 80px;
    padding: 170px 0;
    width: 100%;
}

.content_products {
    display: table;
    width: 1200px;
    margin: auto;
}

.content_products div {
    padding: 50px;
    width: 50%;
	background-color: #ffffff;
}

.content_products img {
    width: 100%;
    display: block;
}

#filtrado_into_products {
    margin: 100px auto 0;
    width: 1200px;
}

#post_check_into_products {
    width: 1100px;
    background-color: #ffffff;
    padding: 50px;
    display: block;
    margin: 100px auto 0;
}

#post_check_into_products h1 {
	font-size:25px;
}

#tarjetas {
	display: block;
}

#tarjetas img {
	display:inline-block;
	width: 45px;
}

.content_map {
	display:block;
}

#gmap_canvas {
    position: relative;
    overflow: hidden;
    display: block;
    height: 500px;
}

.table_opciones td a {
	display:block;
}

#boton_negro {
    background-color: #333333;
	margin-top: 5px;
}

#boton_negro:hover {
	background-color: #6B4C52;
}

#boton_violeta {
    background-color: #6B4C52;
}

#boton_negro:hover {
	background-color: #333333;
}

#filtrado_edit_reservas {
    margin: 50px auto 100px;
}

@media only screen and (min-width: 800px) and (max-width: 1240px) {

header {
    width: 90%;
    padding: 70px 5%;
}

.iso {
    left: 5%;
}

nav {
    right: 5%;
	z-index:1;
}

article {
    width: 90%;
    padding: 100px 5%;
}

.filtrado_rapido {
    width: 700px;
}

#filtrado_reservas {
    margin: 0 auto 100px;
}

#boton_salmon {
    padding: 33% 0;
}

.content_products {
    width: 100%;
}

.products {
    display: block;
}

.top {
    height: 85vh;
}

#post_check_into_products {
    width: 700px;
}

#filtrado_into_products {
    width: 800px;
}

.widget div {
    width: 86%;
    display: block;
    margin: auto;
}

.aclaraciones_reserva div p {
    font-size: 9px;
}

.content_historial {
    max-width: 700px;
    width: auto;
}

#post_check {
    width: 600px;
}

.pop #post_check {
    width: 600px;
}

.content_footer img {
    width: 80px;
}

#special_footer h1 {
    font-size: 23px;
}

#opcionales_reserva input {
    padding: 4px;
    width: 18px;
}

}

@media only screen and (max-width: 800px) {

#name h1 {
    display: none;
}

nav {
    right: 0;
    top: 0;
    padding: 37px 25px 25px;
	box-shadow: none;
	z-index:1;
}

.iso {
    left: 25px;
    top: 30px;
}

#bars {
    font-size: 14px;
}

.iso a img {
    width: 38px;
}

.past-main2 a img {
    width: 35px;
}

header {
    padding: 0 10% 75px;
}

.past-main2 {
    left: 30px;
    z-index: 1;
}

.past-main {
    padding: 36px 30px 25px;
}

.top {
    height: 80vh;
}

#content_title_page {
    padding: 50px 5%;
    width: 90%;
}

p {
    font-size: 11px;
}

h1 {
    font-size: 24px;
}

#top_index {
    background-size: cover;
}

.selects div {
    padding: 20px 5%;
    width: 34%;
}

.filtrado_rapido {
    width: 90%;
}

.filtrado_rapido p span {
    font-size: 17px;
}

#div_boton_filtrado {
    padding: 0;
    display: block;
    width: 100%;
}

#boton_salmon {
    padding: 25px;
}

article {
    padding: 100px 10% 0;
}

.listados {
    display: block;
    margin-bottom: 100px;
    width: 80%;
	padding: 50px 10%;
}

#bloque_previo {
    padding: 0;
	width: 100%;
}

#separador_table_cell {
	display:none;
}

.filtrado_rapido form {
    display: block;
}

#dias p {
    font-size: 8px;
    padding: 10px 0;
}

.content_promo_products div {
    width: 100%;
    display: block;
    padding: 0 0 100px;
}

#promo_cuenta .listados {
    padding: 0;
    width: 100%;
    margin: 0 0 50px;
}

#promo_cuenta i {
    display: none;
}

.widget div {
    width: 100%;
}

.widget {
    padding: 100px 10%;
}

.content_footer {
    width: 100%;
}

.content_footer img {
    width: 80px;
}

#special_footer h1 {
    font-size: 23px;
}

.texto_institucional {
    padding: 100px 10%;
}

.table_opciones th {
    display: none;
}

.table_opciones td {
    font-size: 9px;
    padding: 0px 0%;
    width: 1%;
}

.form {
    width: 80%;
}

#top_grande {
    padding: 50px 0;
}

#select_div div {
    padding: 0 5px;
    vertical-align: bottom;
}

#item {
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}

#checkbox_div div p input {
    margin: 0 0 5px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.table_opciones td {
    width: 90%;
    display: block;
    font-size: 13px;
    padding: 9px 5%;
}

.content_historial {
    width: 80%;
}

#post_check {
    padding: 50px 10%;
    width: 80%;
}

.aclaraciones_reserva h2 {
    display: table-caption;
    padding: 25px 5%;
    width: 90%;
}

.aclaraciones_reserva div {
    padding: 25px 4%;
    width: 33%;
}

.aclaraciones_reserva div p input {
    margin: 0 0 10px;
    display: block;
}

.aclaraciones_reserva div p {
    font-size: 11px;
    text-align: left;
}

#opcionales_reserva input {
    padding: 5px;
    margin: 10px 0 0;
}

.select_product div a {
    font-size: 21px;
    padding: 20px 5%;
}

.products {
    padding: 100px 0;
    display: block;
}

.content_products {
    display: block;
    width: 100%;
    margin: auto;
}

.content_products div {
    padding: 50px 10%;
    width: 80%;
    display: block;
    margin: 0 0 50px;
}

.content_products img {
    display: block;
    margin: 0 0 50px;
}

#filtrado_into_products {
    margin: 100px auto 0;
    width: 90%;
}

#post_check_into_products {
    width: 80%;
    padding: 50px 10%;
}

#promo_cuenta {
    padding: 50px 10% 0;
}

}

/* custom */

article {
    display: table;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 10%;
}

footer {
    width: 100%;
}

.select_product div a {
    width: 100%;
}

.promotion-header{
   min-height: 36px;
}

.promotion-description{
    min-height: 50px;
}