<template>
    <div>
        <data-table
                :delete-multiple="false"
                datatable-id="bookings"
                :config="datatableConfig"
                :base-route="baseRoute"
                :api-route="apiRoute">

            <template slot="row-actions" slot-scope="props">
                <div>
                    <button @click="openBooking(props.item)" class="btn btn-info btn-sm" style="margin-bottom:5px">Ver detalle</button>
                    <button v-if="props.item.status!=='approved'" style="margin-bottom:5px" @click="approve(props.item)" type="button" class="btn btn-primary command-edit btn-sm">Aprobar</button>
                    <button v-if="props.item.status!=='rejected'" style="margin-bottom:5px" @click="disapprove(props.item)" type="button" class="btn btn-danger command-edit btn-sm">Rechazar</button>


                </div>
            </template>
            <template slot="user" slot-scope="props">
                <a href="#" @click="openUser(props.item.user)">{{ props.item.user.name }}</a>
            </template>
        </data-table>
        <modal modal-id="booking-form" :modal-title="mode === 'create' ? 'Crear reserva' : 'Editar reserva'">
            <template slot="body">
                <booking-form v-model="booking" :errors="errors" :booking-types="bookingTypes"></booking-form>
            </template>
            <template slot="footer">
                <button @click="save()" type="button" class="btn btn-primary">Guardar</button>
                <button @click="dismiss()" type="button" class="btn btn-danger">Cancelar</button>
            </template>
        </modal>
        <modal modal-id="user-info" modal-title="Información del usuario">
            <template slot="body">
                <div>
                    <table class="table" style="width:100%">
                        <tr>
                            <td>Nombre:</td>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Teléfono:</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <td>Ciudad:</td>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <td>Provincia:</td>
                            <td>{{ user.state }}</td>
                        </tr>
                        <tr>
                            <td>País:</td>
                            <td>{{ user.country }}</td>
                        </tr>
                    </table>

                </div>
            </template>

        </modal>

        <modal v-if="booking!=={}" modal-id="booking-info" modal-title="Información de la reserva">
            <template slot="body">
                <div>
                    <table class="table" style="width:100%">
                        <tr>
                            <td>Desde:</td>
                            <td>{{ booking.start_at}}</td>
                        </tr>
                        <tr>
                            <td>Hasta:</td>
                            <td>{{ booking.finish_at }}</td>
                        </tr>
                        <tr>
                            <td>Precio:</td>
                            <td>${{ booking.price }}</td>
                        </tr>
                        <tr>
                            <td>Personas:</td>
                            <td>{{ booking.guests }}</td>
                        </tr>
                        <tr>
                            <td>Adicionales:</td>
                            <td v-html="booking!==null&&booking.additional!==null?booking.additional.label:''"></td>
                        </tr>

                    </table>

                </div>
            </template>

        </modal>
    </div>
</template>

<script>
    import Errors from '../../../classes/Errors';

    window.Errros = Errors;
    export default {
        props: ['datatableConfig', 'baseRoute', 'apiRoute', 'bookingTypes'],
        data: function () {
            return {
                modalTitle: '',
                booking: {
                    additional:{
                        label:''
                    }
                },
                bookings: [],
                errors: new Errors(),
                mode: '',
                user:{
                    name:'',
                    email:'',
                    phone:'',
                    city:'',
                    state:'',
                    country:''
                },
            }
        },
        methods: {
            openBooking:function(booking){
                this.booking = booking;
                $('#booking-info').modal('show');
            },
            openUser:function(user){
                this.user = user;
                $('#user-info').modal('show');
            },
            dismiss: function () {
                $('#booking-form').modal('hide');
            },
            save: function (event) {
                if (this.mode === 'create') {
                    this.store();
                } else {
                    this.update();
                }
            },
            dataChanged: function () {
                $('#booking-form').modal('hide');
            },
            create: function () {
                this.mode = 'create';
                this.booking = {
                    number: 0,
                    places: 0,
                    double: 0,
                };
                $('#booking-form').modal('show');
            },
            edit: function (booking) {
                this.mode = 'edit';
                this.booking = clone(booking);
                $('#booking-form').modal('show');
            },
            get: function () {
                let self = this;
                axios.get(laroute.route('admin.api.bookings.index'))
                    .then(function (response) {
                        Event.fire('datatable.bookings.dataUpdated');
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            store: function () {
                let self = this;
                axios.post(laroute.route('admin.api.bookings.store'), this.booking)
                    .then(function () {
                        console.log("ok");
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            update: function () {
                let self = this;
                axios.put(laroute.route('admin.api.bookings.update', {booking: this.booking.id}), this.booking)
                    .then(function () {
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            remove: function (data) {
                let self = this;
                swalDelete(data, function (isConfirmed) {
                    axios.delete(laroute.route('admin.api.bookings.destroy', {booking: data.id}))
                        .then(function () {
                            swal("Elimninada", "Se eliminó correctamente", "success");
                            self.get();
                        }).catch(function (error) {
                        console.log(error);
                        swal("Error", "Hubo un error!", "error");
                    });
                });
            },
            approve:function(item){
                let self = this;
                axios.put(laroute.route('admin.api.bookings.approve', {booking: item.id}), {})
                    .then(function () {
                        self.get();

                    })
                    .catch(function (error) {
                    });
            },
            disapprove:function(item){
                let self = this;
                axios.put(laroute.route('admin.api.bookings.disapprove', {booking: item.id}), {})
                    .then(function () {
                        self.get();
                    })
                    .catch(function (error) {

                    });
            }
        }
    }
</script>
