.el-input__inner {
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important;
}

.help.is-danger{
    color:red;
}

.patient-action-panel{
    text-align: left;
    padding-bottom:10px;

}

.login-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo-wrapper{
    padding:0 12% 20px 12%;
}

a {
    color: #605ca8;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #7c78c9;
}