<template>
    <form @keydown="errors.clear($event.target.name)">
        <div class="form-group">
            <label>Nombre</label>
            <input v-model="value.name" type="text" class="form-control" placeholder="Carlos Perez"
                   name="name">
            <span class="help is-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input :disabled="mode != 'create'" v-model="value.email" type="email" class="form-control" placeholder="usuario@email.com"
                   name="email">
            <span class="help is-danger" v-if="errors.has('email')" v-text="errors.get('email')"></span>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input :disabled="mode != 'create'" v-model="value.password" type="password" class="form-control" placeholder=""
                   name="password">
            <span class="help is-danger" v-if="errors.has('password')" v-text="errors.get('password')"></span>
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input v-model="value.phone" type="email" class="form-control" placeholder="+54 11 4444-5555"
                   name="email">
            <span class="help is-danger" v-if="errors.has('email')" v-text="errors.get('email')"></span>
        </div>
        <div class="form-group">
            <label>Ciudad</label>
            <input v-model="value.city" type="text" class="form-control" placeholder="Capital Federal"
                   name="city">
            <span class="help is-danger" v-if="errors.has('city')" v-text="errors.get('city')"></span>
        </div>
        <div class="form-group">
            <label>Provincia</label>
            <input v-model="value.state" type="text" class="form-control" placeholder="Buenos Aires"
                   name="state">
            <span class="help is-danger" v-if="errors.has('state')" v-text="errors.get('state')"></span>
        </div>
        <div class="form-group">
            <label>País</label>
            <input v-model="value.country" type="text" class="form-control" placeholder="Argentina"
                   name="country">
            <span class="help is-danger" v-if="errors.has('country')" v-text="errors.get('country')"></span>
        </div>
    </form>
</template>
<style>
    .is-danger {
        color: #f44137;
    }
</style>
<script>

    export default {
        mounted: function () {
        },
        props: ['value','errors','roomTypes', 'mode'],
        data: function () {
            return {
//                errors: new Errors()
            }
        },
        watch: {
            value: {
                handler: function () {
                    this.$emit('input', this.value);
                },
                deep: true
            }
        },
        methods: { }
    }
</script>
