<template>
    <div>
        <data-table
                :delete-multiple="false"
                datatable-id="users"
                :config="datatableConfig"
                :base-route="baseRoute"
                :api-route="apiRoute">

            <template slot="new">
                <button type="button" class="btn btn-info " @click="create()">Agregar usuario
                </button>
            </template>
            <template slot="row-actions" slot-scope="props">
                <div>
                    <button @click="edit(props.item)" type="button" class="btn btn-primary command-edit btn-sm"><i
                            class="fa fa-pencil fa-fw"></i></button>

                    <button @click="remove(props.item)" type="button" class="btn btn-danger command-delete btn-sm"><i
                            class="fa fa-trash-o fa-fw"></i></button>
                </div>
            </template>
        </data-table>
        <modal modal-id="user-form" :modal-title="mode==='create'?'Crear usuario':'Editar usuario'">
            <template slot="body">
                <user-form v-model="user" :errors="errors" :user-types="userTypes" :mode="mode"></user-form>
            </template>
            <template slot="footer">
                <button @click="save()" type="button" class="btn btn-primary">Guardar</button>
                <button @click="dismiss()" type="button" class="btn btn-danger">Cancelar</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Errors from '../../../classes/Errors';

    window.Errros = Errors;
    export default {
        mounted() {
        },
        props: ['datatableConfig', 'baseRoute', 'apiRoute', 'userTypes'],
        data: function () {
            return {
                modalTitle: '',
                user: {},
                users: [],
                errors: new Errors(),
                mode: '',
            }
        },
        methods: {
            dismiss: function () {
                $('#user-form').modal('hide');
            },
            save: function (event) {
                if (this.mode === 'create') {
                    this.store();
                } else {
                    this.update();
                }
            },
            dataChanged: function () {
                $('#user-form').modal('hide');
            },
            create: function () {
                this.mode = 'create';
                this.user = {
                    name: '',
                    email: '',
                    phone: '',
                    city: '',
                    state: '',
                    country: ''
                };
                $('#user-form').modal('show');
            },
            edit: function (user) {
                this.mode = 'edit';
                this.user = clone(user);
                $('#user-form').modal('show');
            },
            get: function () {
                var self = this;
                axios.get(laroute.route('admin.api.users.index'))
                    .then(function (response) {
                        Event.fire('datatable.users.dataUpdated');
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            store: function () {
                var self = this;
                axios.post(laroute.route('admin.api.users.store'), this.user)
                    .then(function () {
                        console.log("ok");
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            update: function () {
                var self = this;
                axios.put(laroute.route('admin.api.users.update', {user: this.user.id}), this.user)
                    .then(function () {
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            remove: function (data) {
                var self = this;
                swalDelete(data, function (isConfirmed) {
                    axios.delete(laroute.route('admin.api.users.destroy', {user: data.id}))
                        .then(function () {
                            swal("Elimninada", "Se eliminó correctamente", "success");
                            self.get();
                        }).catch(function (error) {
                        console.log(error);
                        swal("Error", "Hubo un error!", "error");
                    });
                });
            }
        }
    }
</script>
