<template>
    <div v-if="loading" class="custom-loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>

</template>

<script>
    export default {
        mounted: function () {
            var self = this;

            var loaderId = this.loaderId;
            if (loaderId === undefined)
                loaderId = 'default';

            Event.listen('loader.' + loaderId + '.processStarted', function () {
                self.loading = true;
            });

            Event.listen('loader.' + loaderId + '.processFinished', function () {
                self.loading = false;
            })
        },
        props: ['loaderId'],
        data: function () {
            return {
                loading: false
            }
        },
        methods: {}
    }
</script>

<style>
    .custom-loader {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #605ca8;
    }
</style>