<template>
    <form @keydown="errors.clear($event.target.name)">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre</label>
                    <input v-model="value.name" class="form-control" placeholder="Ingrese el nombre de la promoción"
                           name="number">
                    <span class="help is-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                </div>
                <div class="form-group">
                    <label>Subtítulo</label>
                    <textarea v-model="value.subtitle" type="text" class="form-control" placeholder=""
                              name="subtitle"></textarea>
                    <span class="help is-danger" v-if="errors.has('subtitle')" v-text="errors.get('subtitle')"></span>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea v-model="value.description" type="text" class="form-control" placeholder=""
                              name="description"></textarea>
                    <span class="help is-danger" v-if="errors.has('description')" v-text="errors.get('description')"></span>
                </div>

                <div class="form-group">
                    <label>Precio</label>
                    <input v-model="value.price" class="form-control" placeholder=""
                           name="price">
                    <span class="help is-danger" v-if="errors.has('price')" v-text="errors.get('price')"></span>
                </div>

                <div class="form-group">
                    <label>Precio exclusivo</label>
                    <input v-model="value.exclusive_price" class="form-control" placeholder=""
                           name="exclusive_price">
                    <span class="help is-danger" v-if="errors.has('exclusive_price')"
                          v-text="errors.get('exclusive_price')"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Desde</label>
                    <div>
                        <el-date-picker
                                @change="errors.clear('start_at')"
                                format="dd/MM/yyyy"
                                v-model="value.start_at"
                                type="date"
                                placeholder="Elegir fecha">
                        </el-date-picker>
                    </div>

                    <span class="help is-danger" v-if="errors.has('start_at')"
                          v-text="errors.get('start_at')"></span>
                </div>

                <div class="form-group">
                    <label>Hasta</label>
                    <div>
                        <el-date-picker
                                @change="errors.clear('finish_at')"
                                format="dd/MM/yyyy"
                                v-model="value.finish_at"
                                type="date"
                                placeholder="Elegir fecha">
                        </el-date-picker>
                    </div>

                    <span class="help is-danger" v-if="errors.has('finish_at')"
                          v-text="errors.get('finish_at')"></span>
                </div>
                <div class="form-group">
                    <label>Noches</label>
                    <input v-model="value.nights" class="form-control" placeholder=""
                           name="nights">
                    <span class="help is-danger" v-if="errors.has('nights')" v-text="errors.get('nights')"></span>
                </div>
                <div class="form-group">
                    <label>Personas</label>
                    <input v-model="value.people" class="form-control" placeholder=""
                           name="people">
                    <span class="help is-danger" v-if="errors.has('people')" v-text="errors.get('people')"></span>
                </div>
                <div class="form-group">
                    <label>Habitaciones</label>
                    <el-select v-if="value.rooms !== undefined" v-model="value.rooms" multiple placeholder="Select">
                        <el-option
                                v-for="item in rooms"
                                :key="item.id"
                                :label="(item.type=='normal'?'Hotel':'Apart')+' - Nº '+item.number+' - '+item.places + 'pers.'"
                                :value="item.id">
                        </el-option>
                    </el-select>
                    <span class="help is-danger" v-if="errors.has('rooms')" v-text="errors.get('rooms')"></span>
                </div>
            </div>
        </div>




        <div style="max-width:300px">
            <vue-img-preview
                    ref="vueImg"
                    v-model="value.image"
            ></vue-img-preview>
        </div>


    </form>
</template>
<style>
    .is-danger {
        color: #f44137;
    }
</style>
<script>

    export default {
        mounted: function () {
        },
        props: ['value', 'errors', 'promotionTypes','rooms'],
        data: function () {
            return {
//                errors: new Errors()
            }
        },
        watch: {
            value: {
                handler: function () {
                    this.$emit('input', this.value);
                },
                deep: true
            }
        },
        methods: {}
    }
</script>
