<template>
    <div >
        <data-table
                :delete-multiple="false"
                datatable-id="promotions"
                :config="datatableConfig"
                :base-route="baseRoute"
                :api-route="apiRoute">

            <template slot="new">
                <button type="button" class="btn btn-info " @click="create()">Agregar promoción
                </button>
            </template>

            <template slot="image" slot-scope="props">
                <img style="width: 70px;float:left" class="image-resposive " :src="props.item.image_small">
            </template>
            <template slot="row-actions" slot-scope="props">
                <div>
                    <button @click="edit(props.item)" type="button" class="btn btn-primary command-edit btn-sm"><i
                            class="fa fa-pencil fa-fw"></i></button>

                    <button @click="remove(props.item)" type="button" class="btn btn-danger command-delete btn-sm"><i
                            class="fa fa-trash-o fa-fw"></i></button>
                </div>
            </template>
        </data-table>
        <modal modal-id="promotion-form" :modal-title="mode==='create'?'Crear promoción':'Editar promoción'">
            <template slot="body">
                <promotion-form :rooms="rooms" v-model="promotion" :errors="errors"></promotion-form>
            </template>
            <template slot="footer">
                <button @click="save()" type="button" class="btn btn-primary">Guardar</button>
                <button @click="dismiss()" type="button" class="btn btn-danger">Cancelar</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Errors from '../../../classes/Errors';
    window.Errros = Errors;
    export default {
        mounted() {
            this.setPromotionToEmpty();
        },
        props:['datatableConfig','baseRoute','apiRoute','rooms'],
        data:function(){
            return {
                modalTitle:'',
                promotion:{},
                promotions:[],
                errors: new Errors(),
                mode: '',
            }
        },
        methods:{
            dismiss: function () {
                $('#promotion-form').modal('hide');
            },
            save: function (event) {
                if (this.mode === 'create') {
                    this.store();
                } else {
                    this.update();
                }
            },
            dataChanged: function () {
                $('#promotion-form').modal('hide');
            },
            create: function () {
                this.mode = 'create';
                this.setPromotionToEmpty();
                Event.fire('clearImage');
                $('#promotion-form').modal('show');
            },
            setPromotionToEmpty()
            {
                this.promotion = {
                    name: '',
                    description: '',
                    subtitle: '',
                    image: '',
                    price:0,
                    exclusive_price:0,
                    nights:0,
                    people:0,
                    start_at:'',
                    finish_at:'',
                    rooms:[]
                };
            },
            edit: function (promotion) {
                this.mode = 'edit';
                this.promotion = clone(promotion);
                this.promotion.start_at = moment(promotion.start_at,'DD/MM/YYYY').toDate()
                this.promotion.finish_at = moment(promotion.finish_at,'DD/MM/YYYY').toDate()
                this.promotion.image = this.promotion.image_medium;
                $('#promotion-form').modal('show');
            },
            get: function () {
                var self = this;
                axios.get(laroute.route('admin.api.promotions.index'))
                    .then(function (response) {
                        Event.fire('datatable.promotions.dataUpdated');
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            store: function () {
                var self = this;
                console.log(this.promotion);
                var  promotion = clone(this.promotion);

                promotion.start_at = moment(this.promotion.start_at).format('DD/MM/YYYY');
                promotion.finish_at = moment(this.promotion.finish_at).format('DD/MM/YYYY');
                axios.post(laroute.route('admin.api.promotions.store'), promotion)
                    .then(function () {
                        console.log("ok");
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            update: function () {
                var self = this;

                var  promotion = clone(this.promotion);

                promotion.start_at = moment(this.promotion.start_at).format('DD/MM/YYYY');
                promotion.finish_at = moment(this.promotion.finish_at).format('DD/MM/YYYY');

                axios.put(laroute.route('admin.api.promotions.update',{promotion:this.promotion.id}), promotion)
                    .then(function () {
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            remove: function (data) {
                var self = this;
                swalDelete(data, function (isConfirmed) {
                    axios.delete(laroute.route('admin.api.promotions.destroy', {promotion:data.id}))
                        .then(function () {
                            swal("Elimninada", "Se eliminó correctamente", "success");
                            self.get();
                        }).catch(function (error) {
                        console.log(error);
                        swal("Error", "Hubo un error!", "error");
                    });
                });
            }
        }
    }
</script>
