<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li v-for="(month,index) in months" :class="index==0?'active':''"><a :href="'#'+month.name" data-toggle="tab">{{ month.label }}</a></li>

        </ul>
        <div class="tab-content">
            <div v-for="(month,index) in months" :class="index==0?'active tab-pane':'tab-pane'" :id="month.name">
                <room-prices-form v-model="value[index]" :errors="errors" :room-types="roomTypes"></room-prices-form>
            </div>


        </div>
        <!-- /.tab-content -->
    </div>

</template>

<script>

    export default {
        mounted: function () {
        },
        props: ['value', 'errors','roomTypes'],
        data: function () {
            return {
                months: [
                    {
                        name: 'january',
                        label: 'Enero'
                    },
                    {
                        name: 'february',
                        label: 'Febrero'
                    },
                    {
                        name: 'march',
                        label: 'Marzo'
                    },
                    {
                        name: 'april',
                        label: 'Abril'
                    },
                    {
                        name: 'may',
                        label: 'Mayo'
                    },
                    {
                        name: 'june',
                        label: 'Junio'
                    },
                    {
                        name: 'july',
                        label: 'Julio'
                    },
                    {
                        name: 'august',
                        label: 'Agosto'
                    },
                    {
                        name: 'september',
                        label: 'Septiembre'
                    },
                    {
                        name: 'october',
                        label: 'Octubre'
                    },
                    {
                        name: 'november',
                        label: 'Noviembre'
                    },
                    {
                        name: 'december',
                        label: 'Diciembre'
                    },

                ]
//                errors: new Errors()
            }
        },
        watch: {
            value: {
                handler: function () {
                    this.$emit('input', this.value);
                },
                deep: true
            }
        },
        methods: {}
    }
</script>
