<template>
    <form @keydown="errors.clear($event.target.name)">
        <div class="form-group">
            <label>Número</label>
            <input v-model="value.number" type="text" class="form-control" placeholder=""
                   name="number">
            <span class="help is-danger" v-if="errors.has('number')" v-text="errors.get('number')"></span>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" v-model="value.type">
                <option :value="type.value" v-for="type in roomTypes">{{ type.label }}</option>
            </select>
            <span class="help is-danger" v-if="errors.has('type')" v-text="errors.get('type')"></span>
        </div>
        <div class="form-group">
            <label>Plazas</label>
            <textarea v-model="value.places" class="form-control" id="markdown"></textarea>
            <span class="help is-danger" v-if="errors.has('places')" v-text="errors.get('places')"></span>
        </div>
        <div class="form-group">
            <label>Camas dobles</label>
            <input class="form-control" type="number" v-model="value.double">
            <span class="help is-danger" v-if="errors.has('double')" v-text="errors.get('double')"></span>
        </div>

    </form>
</template>
<style>
    .is-danger {
        color: #f44137;
    }
</style>
<script>

    export default {
        mounted: function () {
        },
        props: ['value','errors','roomTypes'],
        data: function () {
            return {
//                errors: new Errors()
            }
        },
        watch: {
            value: {
                handler: function () {
                    this.$emit('input', this.value);
                },
                deep: true
            }
        },
        methods: { }
    }
</script>
