<template>
    <form @keydown="errors.clear($event.target.name)">
        <div class="form-group">
            <label>Habitación común para 2 personas</label>
            <input v-model="value.normal2" type="text" class="form-control" placeholder=""
                   name="normal2">
            <span class="help is-danger" v-if="errors.has('normal2')" v-text="errors.get('normal2')"></span>
        </div>
        <div class="form-group">
            <label>Habitación común para 3 personas</label>
            <input v-model="value.normal3" type="text" class="form-control" placeholder=""
                   name="normal3">
            <span class="help is-danger" v-if="errors.has('normal3')" v-text="errors.get('normal3')"></span>
        </div>
        <div class="form-group">
            <label>Apart para 4 personas</label>
            <input v-model="value.apart4" type="text" class="form-control" placeholder=""
                   name="apart4">
            <span class="help is-danger" v-if="errors.has('apart4')" v-text="errors.get('apart4')"></span>
        </div>
        <div class="form-group">
            <label>Apart para 6 personas</label>
            <input v-model="value.apart6" type="text" class="form-control" placeholder=""
                   name="apart6">
            <span class="help is-danger" v-if="errors.has('apart6')" v-text="errors.get('apart6')"></span>
        </div>
        <div class="form-group">
            <label>Masajes</label>
            <input v-model="value.massages" type="text" class="form-control" placeholder=""
                   name="massages">
            <span class="help is-danger" v-if="errors.has('massages')" v-text="errors.get('massages')"></span>
        </div>
        <div class="form-group">
            <label>Spa</label>
            <input v-model="value.spa" type="text" class="form-control" placeholder=""
                   name="massages">
            <span class="help is-danger" v-if="errors.has('spa')" v-text="errors.get('spa')"></span>
        </div>
        <div class="form-group">
            <label>Kid's time</label>
            <input v-model="value.kids" type="text" class="form-control" placeholder=""
                   name="kids">
            <span class="help is-danger" v-if="errors.has('kids')" v-text="errors.get('kids')"></span>
        </div>
    </form>
</template>
<style>
    .is-danger {
        color: #f44137;
    }
</style>
<script>

    export default {
        mounted: function () {
        },
        props: ['value','errors'],
        data: function () {
            return {
//                errors: new Errors()
            }
        },
        watch: {
            value: {
                handler: function () {
                    this.$emit('input', this.value);
                },
                deep: true
            }
        },
        methods: { }
    }
</script>
