<template>
    <div>
        <div style="margin-bottom:10px" @click="openPrices()">
            <button class="btn btn-primary">Definir Precios</button>
        </div>
        <modal modal-id="prices-form" :modal-title="'Editar precios'">
            <template slot="body">
                <room-prices-tab  v-model="prices" :errors="errors" :room-types="roomTypes"></room-prices-tab>
                <!--<room-prices-form v-model="prices" :errors="errors" :room-types="roomTypes"></room-prices-form>-->
            </template>
            <template slot="footer">
                <button @click="savePrices()" type="button" class="btn btn-primary">Guardar</button>
                <button @click="cancelPrice()" type="button" class="btn btn-danger">Cancelar</button>
            </template>
        </modal>

        <data-table
                :delete-multiple="false"
                datatable-id="rooms"
                :config="datatableConfig"
                :base-route="baseRoute"
                :api-route="apiRoute">

            <template slot="new">
                <button type="button" class="btn btn-info " @click="create()">Agregar habitacion
                </button>
            </template>
            <template slot="row-actions" slot-scope="props">
                <div>
                    <button @click="edit(props.item)" type="button" class="btn btn-primary command-edit btn-sm"><i
                            class="fa fa-pencil fa-fw"></i></button>

                    <button @click="remove(props.item)" type="button" class="btn btn-danger command-delete btn-sm"><i
                            class="fa fa-trash-o fa-fw"></i></button>
                </div>
            </template>
        </data-table>
        <modal modal-id="room-form" :modal-title="mode==='create'?'Crear habitación':'Editar habitación'">
            <template slot="body">
                <room-form v-model="room" :errors="errors" :room-types="roomTypes"></room-form>
            </template>
            <template slot="footer">
                <button @click="save()" type="button" class="btn btn-primary">Guardar</button>
                <button @click="dismiss()" type="button" class="btn btn-danger">Cancelar</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Errors from '../../../classes/Errors';

    window.Errros = Errors;
    export default {
        created(){
            console.log('created');
            this.prices = this.pPrices;
        },
        mounted() {
            console.log('Component mounted.')

        },
        props: ['datatableConfig', 'baseRoute', 'apiRoute', 'roomTypes','pPrices'],
        data: function () {
            return {
                modalTitle: '',
                room: {},
                prices: {},
                rooms: [],
                errors: new Errors(),
                mode: '',
            }
        },
        methods: {
            openPrices:function(){
                $('#prices-form').modal('show');
            },
            cancelPrice:function(){
                $('#prices-form').modal('hide');
            },
            savePrices:function(){
                axios.put(laroute.route('admin.api.prices.update'), {'prices':this.prices})
                    .then(function () {
                        $('#prices-form').modal('hide');
                    })
                    .catch(function (error) {
                    });
            },
            dismiss: function () {
                $('#room-form').modal('hide');
            },
            getPrices: function () {
                var self = this;
                axios.get(laroute.route('admin.api.prices.get'))
                    .then(function (result) {
                        self.prices = result.data;
                    })
                    .catch(function (error) {
                    });
            },

            save: function (event) {
                if (this.mode === 'create') {
                    this.store();
                } else {
                    this.update();
                }
            },
            dataChanged: function () {
                $('#room-form').modal('hide');
            },
            create: function () {
                this.mode = 'create';
                this.room = {
                    number: 0,
                    places: 0,
                    double: 0,
                };
                $('#room-form').modal('show');
            },
            edit: function (room) {
                this.mode = 'edit';
                this.room = clone(room);
                $('#room-form').modal('show');
            },
            get: function () {
                var self = this;
                axios.get(laroute.route('admin.api.rooms.index'))
                    .then(function (response) {
                        Event.fire('datatable.rooms.dataUpdated');
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            store: function () {
                var self = this;
                axios.post(laroute.route('admin.api.rooms.store'), this.room)
                    .then(function () {
                        console.log("ok");
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            update: function () {
                var self = this;
                axios.put(laroute.route('admin.api.rooms.update', {room: this.room.id}), this.room)
                    .then(function () {
                        self.get();
                        self.dismiss();
                    })
                    .catch(function (error) {
                        self.errors.record(error.response.data.errors);
                        console.log(error)
                    });
            },
            remove: function (data) {
                var self = this;
                swalDelete(data, function (isConfirmed) {
                    axios.delete(laroute.route('admin.api.rooms.destroy', {room: data.id}))
                        .then(function () {
                            swal("Elimninada", "Se eliminó correctamente", "success");
                            self.get();
                        }).catch(function (error) {
                        console.log(error);
                        swal("Error", "Hubo un error!", "error");
                    });
                });


            }

        }
    }
</script>
