<template>
    <div>
        <button v-if="config.canShow" @click="show()" type="button" class="btn btn-primary command-edit"><i
                class="fa fa-eye fa-fw"></i></button>

        <button v-if="config.canEdit" @click="edit()" type="button" class="btn btn-primary command-edit"><i
                class="fa fa-pencil fa-fw"></i></button>

        <button v-if="config.canRemove" @click="remove()" type="button" class="btn btn-danger command-delete"><i
                class="fa fa-trash-o fa-fw"></i></button>
    </div>
</template>

<script>
    export default {
        mounted: function () {
            if (this.canShow != undefined && this.canShow == false)
                this.config.canShow = false;

            if (this.canEdit != undefined && this.canEdit == false)
                this.config.canEdit = false;

            if (this.canRemove != undefined && this.canRemove == false)
                this.config.canRemove = false;

            if (this.onlyEvents != undefined && this.onlyEvents)
                this.config.onlyEvents = true;

        },
        props: ['baseRoute', 'apiRoute', 'item', 'canEdit', 'canRemove', 'canShow', 'datatableId', 'onlyEvents'],
        data: function () {
            return {
                config: {
                    canEdit: true,
                    canRemove: true,
                    canShow: true,
                    onlyEvents: false,
                }
            }
        },
        methods: {
            show: function () {
                window.location.href = this.baseRoute + "/" + this.item.id;
            },
            edit: function () {
                window.location.href = this.baseRoute + "/" + this.item.id + "/edit";
            },
            remove: function () {
                var self = this;
                swal({
                    title: "Estás seguro?",
                    text: "No se podrá recuperar este registro",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, eliminarlo",
                    cancelButtonText: "No, cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        axios.delete(self.apiRoute + "/" + self.item.id).then(function () {
                            swal("Elimninada", "Se eliminó correctamente", "success");
                            Event.fire('datatable.' + self.datatableId + '.dataUpdated');
                        }).catch(function () {
                            swal("Error", "Hubo un error!", "error");
                        });

                    } else {
                        swal("Cancelada", "No se eliminó el registro", "error");
                    }
                });
            }
        }
    }
</script>