<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="vuetable">
        <slot name="top-actions">
            <div class="clearfix" style="margin-bottom:15px">
                <div class="buttons-group pull-left">
                    <slot name="new"></slot>
                    <slot name="deleteMultiple">
                        <button v-if="deleteMultiple" @click="deleteAll()" class="btn btn-danger">
                            Eliminar seleccionados
                        </button>
                    </slot>

                </div>
                <div class="pull-right">
                    <input v-model="searchText" autofocus  type="text" @keyup="search()" name="search-query"
                                               class="form-control" placeholder="Buscar...">
                </div>
                <slot name="after-search"></slot>
            </div>
        </slot>

        <div style="position: relative;">
            <div v-if="loading" class="loader">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-if="deleteMultiple" style="width:50px"><input v-model="allSelected" type="checkbox"
                                                                        @click="selectAll()"></th>
                    <th :class="'column-mobile'">
                        Información
                    </th>
                    <th style="position:relative" v-for="column in columns"
                        :class="{'orderable':orderable(column),'column-desktop':true}"
                        v-if="column.visible" @click="order(column)">
                        {{ column.title }}
                        <template v-if="column.orderable">
                            <template v-if="isOrderUp(column.name)">
                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </template>
                            <template v-if="isOrderDown(column.name)">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </template>
                        </template>

                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items">
                    <td v-if="deleteMultiple">
                        <input class="item" :id="item.id" :value="item.id" v-model="checked" type="checkbox">
                    </td>
                    <td :class="'column-mobile'">
                        <template v-for="column in columns" v-if="column.visible">
                            <div>
                                <template v-if="column.type=='slot'">
                                    <slot :name="column.name" :item="item">

                                    </slot>
                                </template>
                                <template v-else-if="column.type == 'currency'">
                                    ${{ item[column.name] }}
                                </template>
                                <template v-else-if="column.type == 'boolean'">
                                    {{ item[column.name] ? 'Si' : 'No' }}
                                </template>
                                <template v-else>
                                    {{ item[column.name] }}
                                </template>
                            </div>
                        </template>
                    </td>
                    <td v-for="column in columns" v-if="column.visible" :class="'column-desktop'">
                        <template v-if="column.type=='slot'">
                            <slot :name="column.name" :item="item">

                            </slot>
                        </template>
                        <template v-else-if="column.type=='currency'">
                            ${{ item[column.name] }}
                        </template>
                        <template v-else-if="column.type == 'boolean'">
                            {{ item[column.name] ? 'Si' : 'No' }}
                        </template>
                        <template v-else>
                            {{ item[column.name] }}
                        </template>
                    </td>
                    <td class="text-right">
                        <slot name="row-actions" :datatable-id="datatableId" :api-route="apiRoute"
                              :base-route="baseRoute" :item="item">
                            <component :api-route="apiRoute" :base-route="baseRoute" :item="item"
                                       :is="actionsTemplate"></component>
                        </slot>
                    </td>
                </tr>
                </tbody>
            </table>
            <div v-if="items.length == 0 && !loading">No se encontraron registros</div>
        </div>
        <nav aria-label="">
            <ul class="pager">
                <li v-if="previousUrl!=null"><a href="#" @click.prevent="previous()">Anterior</a></li>
                <li v-if="nextUrl!=null"><a href="#" @click.prevent="next()">Siguiente</a></li>
            </ul>
        </nav>

    </div>
</template>

<script>
    export default {
        mounted: function () {
            this.init();
            var self = this;

            console.log(this.datatableId);
            let id = this.datatableId;

            if (id === undefined) {
                id = 'default';
            }

            Event.listen('datatable.' + id + '.dataUpdated', function () {
                self.call(self.currentUrl);
            });
            this.columns = this.normalizeColumns(this.config);
        },
        props: ['additionalQuery','datatableId', 'baseRoute', 'apiRoute', 'config','deleteMultiple'],
        data: function () {
            return {
                loading: false,
                searchText: '',
                intervalSearch: null,
                items: [],
                allSelected: false,
                checked: [],
                columns: [],
                nextUrl: '',
                previousUrl: '',
                currentUrl: '',
                actionsTemplate: 'actions',
                lastOrderName: null,
                lastOrderType: null

            }
        },
        computed: {},
        events:{
            show:function(item){
                console.log("entro por show");
            }
        },
        methods: {
            search: function () {
                var self = this;
                this.delay(function () {
                    self.call(self.apiRoute + '?page=1');
                }, 400);

            },
            delay: (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })(),
            selectAll: function () {
                var checked = [];
                if (this.allSelected) {
                    this.items.forEach(function (item) {
                        checked.push(item.id);

                    });
                }

                this.$set(this, 'checked', checked);
            },
            init: function () {
                this.call(this.apiRoute + '?page=1');
            },
            columnDefault: function () {
                return {
                    visible: true,
                    orderable: true,
                    type: 'normal'
                }
            },
            extend: function (src) {
                var obj = this.columnDefault();
                for (var key in src) {
                    if (src.hasOwnProperty(key)) obj[key] = src[key];
                }
                return obj;
            },
            normalizeColumns: function (columns) {
                var newColumns = [];
                var self = this;
                columns.forEach(function (item) {
                    newColumns.push(self.extend(item));
                });
                return newColumns;
            },
            orderable: function (column) {
                if (column.orderable)
                    return 'orderable';
                return '';
            },
            initColumns(columns){
                return columns;
            },
            isOrderUp: function (name) {
                return this.lastOrderName == name && this.lastOrderType == 'asc';
            },
            isOrderDown: function (name) {
                return this.lastOrderName == name && this.lastOrderType == 'desc';
            },
            getData: function (column) {
            },

            next: function () {
                if (this.nextUrl != null)
                    this.call(this.nextUrl);
            },
            previous: function () {

                if (this.previousUrl != null)
                    this.call(this.previousUrl);
            },
            call: function (url) {
                this.loading = true;
                var queryString = "";
                if(this.additionalQuery !== undefined){
                    for (var key in this.additionalQuery) {
                        queryString+="&"+key+"="+this.additionalQuery[key];
                    }
                }

                this.currentUrl = url;
                if (this.searchText != '')
                    queryString = "&search=" + this.searchText;
                if (this.lastOrderName != null)
                    queryString += "&order_name=" + this.lastOrderName + '&order_type=' + this.lastOrderType;

                this.execRequest(url + queryString);
            },
            execRequest: function (url) {
                var self = this;
                return axios.get(url)
                    .then(function (response) {
                        self.items = response.data.data;
                        self.nextUrl = response.data.next_page_url;
                        self.previousUrl = response.data.prev_page_url;
                        self.loading = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                        self.loading = false;
                    });
            },
            order: function (column) {
                if (!column.orderable)
                    return;
                if (this.lastOrderName == column.name) {
                    this.lastOrderType = this.lastOrderType == 'asc' ? 'desc' : 'asc';
                }
                else {
                    this.lastOrderType = 'asc'
                }
                this.lastOrderName = column.name;
                this.call(this.currentUrl);
            },
            deleteAll: function () {
                var self = this;
                swal({
                    title: "Estás seguro?",
                    text: "No se podrán recuperar estos registros",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, eliminarlos",
                    cancelButtonText: "No, cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        axios.delete(self.baseRoute, {data: {data: self.checked}})
                            .then(function (response) {
                                self.call(self.currentUrl);
                                swal("Proceso exitoso", "Se eliminaron los registros seleccionados", "success");
                            }).catch(function (error) {
                            console.log(error);
                            swal("Error", "No se eliminaron los registros", "error");
                        });

                        self.allSelected = false;
                        this.$set(this, 'checked', []);

//                        $('#form-delete #data').val(JSON.stringify(data));
//                        $('#form-delete').attr('action', '{{ route('admin.offers.destroy-group') }}').submit();
                    } else {
                        swal("Cancelada", "No se eliminaron los registros", "error");
                    }
                });
            }

        }

    }
</script>

<style>
    [v-cloak] {
        display: none;
    }

    th.orderable {
        cursor: pointer;
    }

    .vuetable table {
        table-layout: fixed;
    }


    .vuetable table tbody td {
        vertical-align: middle;
    }

    .vuetable .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #605ca8;
    }

    .column-desktop {
        display: table-cell;
    }

    .column-mobile {
        display: none;
    }

    @media (max-width: 768px) {
        .column-desktop {
            display: none
        }

        .column-mobile {
            display: table-cell;
        }
    }


</style>